@import './comm/variables.scss';

* { box-sizing: border-box; }
body{
  margin: 0;
  text-align: center;
  color: #333;
  background-color: #fff;
}

.header, .main, .footer{
  padding-top: 16px;
}

.header{
  height: $--header-height;
  background-color: #ececec;
}

.main{
  height: calc(100vh - $--header-height - $--footer-height);
}

.footer{
  height: $--footer-height;
  background-color: #e0e0e0;
}
